<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cat Images</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Cute Cat Images</h2>
<form th:action="@{/catImages}" method="get">
    <input type="number" name="imageNumber" placeholder="Enter the number of images" />
    <button type="submit">Get Cat Images</button>
</form>
<div th:each="catImage : ${catImages}">
    <img th:src="@{${catImage.url}}" th:alt="${catImage.id}" style="width:300px; height:200px;"/>
</div>
</body>
</html>
